@font-face {
  font-family: "LifeCraft";
  src: url(/static/fonts/LifeCraft_Font.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

body {
  background-image: url(https://images-ext-1.discordapp.net/external/mPPae3KJ9Cw6CJ8Jzf-rAYrqHuVIMzzWOBVn6K2sqkM/https/i.imgur.com/0Z6wZmr.jpg);
  background-size: cover;
}

.splash-button {
  font-family: "LifeCraft";
  background: rgba(13, 13, 13, 0.75);
  border: 1px solid rgb(13, 13, 13);
  display: block;
  margin: 25% auto 0;
  width: 150px;
  color: white;
  text-align: center;
  padding: 10px 10px 0px;
  font-size: 3rem;
  text-decoration: none;
  transition: background 0.2s ease-out, color 0.2s ease-out;
  border-radius: 2px;
}

.splash-button:hover {
  background: rgba(13, 13, 13, 0.95);
  color: rgb(25, 155, 225);
  transition: background 0.2s ease-in, color 0.2s ease-in;
}
