{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WowCommunities</title>
  <link rel="stylesheet" href="{% static 'global.css' %}" />
</head>

<body>
  {% block content %}{% endblock content %}
</body>

</html>
